* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 253, 241);
  text-align: center;
}

.container{
    display: block;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px 20px;
    background-color: yellow;
    border: 2px solid black;
    height: 400px;
    width: 400px;
}

.box{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: auto;
    padding: 10px 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: lightblue;
}