* {
    margin: 0;
    padding: 0;
}

.bg-red {
    padding: 50px;
    background-color: red;
    position: sticky;
    top: 0px;
}

.bg-blue {
    padding: 50px;
    background-color: blue;
}

body {
    background: linear-gradient(135deg, #0ea5e9 0%, #a78bfa 50%, #f472b6 100%);
    height: 200vh;
}

header{
    margin: 60px 80px;
    font-size: 1.5rem;
    text-align: center;
}

nav ul{
    margin: 60px 0px;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
